body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #ffd3e1;
}
.envelope{
    position: relative;
    cursor: pointer;
}

.back{
    position: relative;
    width: 250px;
    height: 200px;
    background: #cf4271;

}
.front{
    position: absolute;
    border-right: 130px solid #d65189;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    height: 0;
    width: 0;
    top: 0;
    left: 120px;
    z-index: 3;
}
.front:before{
    content: "";
    position: absolute;
    border-left: 130px solid #d65189;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    height: 0;
    width: 0;
    top: -100px;
    left: -120px;
}
.front:after{
    content: "";
    position: absolute;
    border-bottom: 105px solid #d44a80;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    height: 0;
    width: 0;
    top: -5px;
    left: -120px;
}
.top{
    position: absolute;
    border-top: 105px solid #da5e91;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    height: 0;
    width: 0;
    top: 0;
    transform-origin: top;
    transition: 0.4s;
}
.envelope:hover .top{
    transform: rotateX(160deg);
}
.letter{
    position: absolute;
    background: white;
    width: 230px;
    height: 180px;
    top: 10px;
    left: 10px;
    transition: 0.2s;
}
.envelope:hover .letter{
    transform: translateY(-100px);
    z-index: 2;
}
.text1{
    position: absolute;
    color: rgb(77, 70, 72);
    font-family: 'Courier New', Courier, monospace;
    top: -50%;
    left: 8%;
}
.text{
    text-align: center;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(77, 70, 72);
    position: static;
    top: 20px;
    left: 20px;
}

